<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Statement</h1>


<hr />
<form method="post"  style="max-width:400px;" action="initial-transaction">
    <p>
    <table>
        <tr>
            <div class="form-group">
                <input type="hidden" name="interestRate" value="${interestRate}" />
                <!--<td>Interest Rate:</td><td  th:text="${interestRate}" th:name="interestRate"></td>-->
                <td>Interest Rate:</td><td  th:text="${interestRate}"></td>

            </div>
        </tr>

        <tr>
            <div class="form-group">
                <input type="hidden" name="printDay" value="${printDay}" />
                <td>Bill Print Day:</td><td  th:text="${printDay}" th:name="printDay"></td>
                <!--<td>Bill Print Day:</td><td  th:text="${printDay}" th:name="printDay"></td>-->
            </div>
        </tr>

        <tr>
            <div class="form-group">
                <input type="hidden" name="dayBasis" value="${dayBasis}" />
                <td  th:text="${dayBasis}" th:name="dayBasis"></td><td>day:</td>
            </div>
        </tr>

    </table>
    </p>
    <table border="0" width="500">
        <tr>
            <td>
                Last Balance Subject to Interest
            </td>
            <td>
                <input size="2" type="text" name="interestBalance"/>
            </td>
            <td>
                New Balance
            </td>
            <td>
                <input size="2" type="text" name="newBalance"/>
            </td>

        </tr>
        <tr>
            <td>
                Payment Due Date
            </td>
            <td>
                <input size="2" type="text" name="paymentDate" />
            </td>
            <td>
                Minimum Payment
            </td>
            <td>
                <input size="2" type="text" name="minimumPayment" />
            </td>
        </tr>
    </table>

    <p>
        <input type="submit" value="New Transactions" />
    </p>
</form>
</body>
</html>