<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<form method="post">
    <table border="0" cellspacing="4" cellpadding="2" class="table">
        <tr>
            <td bgcolor="#FFFFFF">
            <div class="form-group">
                <label>Bill Prints on Day</label>
                <input size="2" type="text" name="printDate" />
                <!-- select name="printDate">
                    <option th:each="i:{#numbers.sequence(1, 31)}"></option>
                </select -->
            </div>

            </td>

            <td>
                of the Month
            </td>
        </tr>
    </table>

    <table border="0" cellspacing="4" cellpadding="2" class="table">
        <tr>
            <td bgcolor="#FFFFFF">
                <div class="form-group">
                    <label>Type of Day:</label>
                </div>

            </td>
            <td>
                <div class="form-group">
                    <table border="1" cellpadding="4" cellspacing="0" class="table">
                        <tr>
                            <td bgcolor="#FFFFFF">
                                <input type="radio" name="basedOn" value="business"/>Business Day
                                <input type="radio" name="basedOn" value="calendar"/>Calendar Day
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <table border="0" cellspacing="4" cellpadding="2" class="table">
        <tr>
            <td bgcolor="#FFFFFF">
                <div class="form-group">
                    <label>Interest Rate:</label>
                    <input size="2" type="text" name="interestRate" />
                </div>
            </td>
            <td>
                %
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Continue"/>
    </p>
</form>
</body>
</html>